In [2]:
import pandas as pd
df = pd.read_csv('dataset/Exam_Score_prediction.csv')

In [3]:
newdf = df.drop(columns =['gender','course','internet_access','exam_difficulty','facility_rating','study_method','sleep_quality'])

In [4]:
newdf

       student_id  age  study_hours  class_attendance  sleep_hours  exam_score
0               1   17         2.78              92.9          7.4        58.9
1               2   23         3.37              64.8          4.6        54.8
2               3   22         7.88              76.8          8.5        90.3
3               4   20         0.67              48.4          5.8        29.7
4               5   20         0.89              71.6          9.8        43.7
...           ...  ...          ...               ...          ...         ...
19995       19997   18         6.50              71.3          5.0        86.5
19996       19998   18         3.71              41.6          5.9        60.9
19997       19999   19         7.88              68.2          4.6        64.5
19998       20000   19         4.60              76.3          6.1        79.0
19999       20001   20         7.50              47.9          7.5        71.0

[20000 rows x 6 columns]

In [5]:
X1 = newdf.iloc[:,:6]

In [6]:
X2 = newdf.iloc[:,:6]

In [7]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [8]:
scaler_std = StandardScaler()
scaler_min_max = MinMaxScaler(feature_range = (0,1))

In [9]:
X1 = scaler_std.fit_transform(X1)
X2 = scaler_min_max.fit_transform(X2)

In [10]:
X1 = pd.DataFrame(X1,columns = ['student_id','age','study_hrs','class_attendance','sleep_hrs','exam_score'])

In [11]:
X1.describe().round(3)

,student_id,age,study_hrs,class_attendance,sleep_hrs,exam_score
count,20000.000,20000.000,20000.000,20000.000,20000.000,20000.000
mean,0.000,0.000,-0.000,0.000,-0.000,0.000
std,1.000,1.000,1.000,1.000,1.000,1.000
min,-1.732,-1.520,-1.702,-1.702,-1.679,-2.270
25%,-0.866,-1.083,-0.870,-0.863,-0.871,-0.725
50%,-0.000,-0.207,0.014,-0.007,-0.005,0.005
75%,0.866,0.668,0.863,0.867,0.861,0.729
max,1.732,1.544,1.691,1.700,1.669,1.983

In [12]:
X2 = pd.DataFrame(X2,columns = ['student_id','age','study_hrs','class_attendance','sleep_hrs','exam_score'])

In [13]:
X2.describe().round(3)

,student_id,age,study_hrs,class_attendance,sleep_hrs,exam_score
count,20000.000,20000.000,20000.000,20000.000,20000.000,20000.000
mean,0.500,0.496,0.502,0.500,0.501,0.534
std,0.289,0.326,0.295,0.294,0.299,0.235
min,0.000,0.000,0.000,0.000,0.000,0.000
25%,0.250,0.143,0.245,0.247,0.241,0.363
50%,0.500,0.429,0.506,0.498,0.500,0.535
75%,0.750,0.714,0.756,0.755,0.759,0.705
max,1.000,1.000,1.000,1.000,1.000,1.000