In [50]:
import pandas as pd

In [51]:
import numpy as np

In [52]:
miles = pd.DataFrame({'farthest_run_mi' :[50,62,np.nan,100,26,13,31,50]})

In [53]:
miles

   farthest_run_mi
0             50.0
1             62.0
2              NaN
3            100.0
4             26.0
5             13.0
6             31.0
7             50.0

In [54]:
miles.isna().sum()

farthest_run_mi    1
dtype: int64

In [55]:
from sklearn.impute import SimpleImputer

In [56]:
imp_mean = SimpleImputer(strategy='mean')

In [57]:
imp_mean.fit_transform(miles)

array([[ 50.        ],
       [ 62.        ],
       [ 47.42857143],
       [100.        ],
       [ 26.        ],
       [ 13.        ],
       [ 31.        ],
       [ 50.        ]])

In [58]:
imp_median = SimpleImputer(strategy='median')

In [59]:
imp_median.fit_transform(miles)

array([[ 50.],
       [ 62.],
       [ 50.],
       [100.],
       [ 26.],
       [ 13.],
       [ 31.],
       [ 50.]])

In [60]:
names = pd.DataFrame({'names' :['ryan', 'nolan', 'honus', 'wagner', np.nan, 'ruth']})

In [61]:
names

    names
0    ryan
1   nolan
2   honus
3  wagner
4     NaN
5    ruth

In [65]:
imp_constant_cat = SimpleImputer(strategy='constant',fill_value ='babe')

In [66]:
imp_constant_cat.fit_transform(names)

array([['ryan'],
       ['nolan'],
       ['honus'],
       ['wagner'],
       ['babe'],
       ['ruth']], dtype=object)