In [35]:
import pandas as pd

In [36]:
d = {'sales': [100000, 222000, 1000000, 522000, 111111, 222222, 1111111, 20000, 75000, 90000, 1000000, 10000],
     'city': ['Tampa', 'Tampa', 'Orlando', 'Jacksonville', 'Miami', 'Jacksonville', 'Miami', 'Miami', 'Orlando',
              'Orlando', 'Orlando', 'Orlando'],
     'size': ['Small', 'Medium', 'Large', 'Large', 'Small', 'Medium', 'Large', 'Small', 'Medium', 'Medium', 'Medium',
              'Small', ]}

In [37]:
df = pd.DataFrame(data=d)
df.head()

     sales          city    size
0   100000         Tampa   Small
1   222000         Tampa  Medium
2  1000000       Orlando   Large
3   522000  Jacksonville   Large
4   111111         Miami   Small

In [38]:
df['size'].unique()

array(['Small', 'Medium', 'Large'], dtype=object)

In [39]:
from sklearn.preprocessing import OrdinalEncoder

In [40]:
sizes = ['Small', 'Medium', 'Large']

In [41]:
enc = OrdinalEncoder(categories =[sizes])

In [42]:
df['size'] =enc.fit_transform(df[['size']])

In [43]:
df.head()

     sales          city  size
0   100000         Tampa   0.0
1   222000         Tampa   1.0
2  1000000       Orlando   2.0
3   522000  Jacksonville   2.0
4   111111         Miami   0.0