In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('dataset/car_price_prediction_with_missing.csv')

In [3]:
df.shape

(2500, 10)

In [4]:
X = df.drop(columns=['Condition','Fuel Type','Transmission','Price'])
X.head()

   Car ID  Brand    Year  Engine Size   Mileage     Model
0     1.0  Tesla  2016.0          2.3  114832.0   Model X
1     2.0    BMW  2018.0          4.4  143190.0  5 Series
2     3.0   Audi  2013.0          4.5  181601.0        A4
3     4.0  Tesla  2011.0          4.1   68682.0   Model Y
4     5.0   Ford  2009.0          2.6  223009.0   Mustang

In [5]:
y = df.Price

In [6]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state= 11,test_size =0.2)

In [7]:
X_train.describe().round(3)

         Car ID      Year  Engine Size     Mileage
count  1804.000  1804.000     1804.000    1804.000
mean   1252.498  2011.700        3.482  149344.489
std     726.357     6.977        1.431   87959.459
min       1.000  2000.000        1.000      15.000
25%     629.750  2006.000        2.200   69694.750
50%    1238.500  2012.000        3.400  148388.000
75%    1882.250  2018.000        4.700  226107.000
max    2500.000  2023.000        6.000  299967.000

In [8]:
X_test.describe().round(3)

         Car ID      Year  Engine Size     Mileage
count   446.000   446.000      446.000     446.000
mean   1246.170  2011.083        3.500  153842.919
std     723.509     6.981        1.416   88928.326
min       3.000  2000.000        1.000      45.000
25%     610.000  2005.000        2.300   76266.750
50%    1288.000  2011.000        3.500  160192.500
75%    1846.000  2017.000        4.700  229571.250
max    2499.000  2023.000        6.000  299140.000